/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Styles */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #2b2b2b;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
}

header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
  margin-bottom: 104px;
}

header,
ul,
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

li {
  list-style: none;
  margin-left: 32px;
}

header a {
  text-decoration: none;
  color: #a020f0;
  -webkit-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
}

header a:visited {
  color: #a020f0;
}

header a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #771daf;
}

header a:focus {
  cursor: pointer;
  text-decoration: underline;
  color: #771daf;
}

header a:active {
  color: #771daf;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
}

.main__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.main__home img,
.main__home svg {
  margin-right: 64px;
  height: 400px;
}

.illustration {
  height: 364px;
}

.hero {
  line-height: 110%;
  font-size: 32px;
  margin: 8px 0;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

.h1__contact {
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 32px;
  margin-top: 40px;
  width: 100%;
}

.grid div {
  background-color: #771daf;
  color: white;
  border-radius: 12px;
  padding: 20px;
}

.grid img {
  border: 1px solid white;
  border-radius: 8px;
}

.grid .tech {
  font-size: 14px;
  font-style: italic;
}

.grid .work-links-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

.work-links {
  color: white;
}

table {
  width: 400px;
}

button {
  border: 2px solid #a020f0;
  background: none;
  font-size: 16px;
  font-weight: 700;
  color: #771daf;
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 120px;
  border-radius: 8px;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

button:hover {
  background: #a020f0;
  color: #fff;
}

form {
  width: 100%;
  max-width: 450px;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
}

input {
  height: 44px;
}

input:focus {
  border: 2px solid #a020f0;
  outline: none;
}

textarea:focus {
  border: 2px solid #a020f0;
  outline: none;
}

textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #2b2b2b;
  padding: 8px;
}

input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #2b2b2b;
  padding: 8px;
}

input[type="submit"] {
  background: #a020f0;
  color: #fff;
  margin-top: 16px;
  border: none;
  cursor: pointer;
}

footer {
  margin-top: auto;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer p {
  margin-bottom: 12px;
}

footer img {
  padding: 8px;
}

/* Animations */

.animate-light {
  -webkit-animation: color-change-one 2s ease-in-out infinite;
  animation: color-change-one 2s ease-in-out infinite;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes color-change-one {
  0% {
    fill: #fff59e;
  }
  33% {
    fill: #fef24e;
  }
  66% {
    fill: #fefebe;
  }
  100% {
    fill: #fff59e;
  }
}

@keyframes color-change-one {
  0% {
    fill: #fff59e;
  }
  33% {
    fill: #fef24e;
  }
  66% {
    fill: #fefebe;
  }
  100% {
    fill: #fff59e;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.animate-big-box {
  -webkit-animation: color-change-two 4s ease-in-out infinite;
  animation: color-change-two 4s ease-in-out infinite;
}

@-webkit-keyframes color-change-two {
  0% {
    fill: #ffbb45;
  }
  33% {
    fill: #f85084;
  }
  50% {
    fill: #f85084;
  }
  66% {
    fill: #048c8c;
  }
  80% {
    fill: #048c8c;
  }
  100% {
    fill: #ffbb45;
  }
}

@keyframes color-change-two {
  0% {
    fill: #ffbb45;
  }
  33% {
    fill: #f85084;
  }
  50% {
    fill: #f85084;
  }
  66% {
    fill: #048c8c;
  }
  80% {
    fill: #048c8c;
  }
  100% {
    fill: #ffbb45;
  }
}

.animate-left-box {
  -webkit-animation: color-change-three 4s ease-in-out infinite;
  animation: color-change-three 4s ease-in-out infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes color-change-three {
  0% {
    fill: #f85084;
  }
  33% {
    fill: #ffbb45;
  }
  50% {
    fill: #ffbb45;
  }
  66% {
    fill: #048c8c;
  }
  80% {
    fill: #048c8c;
  }
  100% {
    fill: #f85084;
  }
}

@keyframes color-change-three {
  0% {
    fill: #f85084;
  }
  33% {
    fill: #ffbb45;
  }
  50% {
    fill: #ffbb45;
  }
  66% {
    fill: #048c8c;
  }
  80% {
    fill: #048c8c;
  }
  100% {
    fill: #f85084;
  }
}

.animate-right-box {
  -webkit-animation: color-change-four 4s ease-in-out infinite;
  animation: color-change-four 4s ease-in-out infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes color-change-four {
  0% {
    fill: #048c8c;
  }
  33% {
    fill: #ffbb45;
  }
  50% {
    fill: #ffbb45;
  }
  66% {
    fill: #f85084;
  }
  80% {
    fill: #f85084;
  }
  100% {
    fill: #048c8c;
  }
}

@keyframes color-change-four {
  0% {
    fill: #048c8c;
  }
  33% {
    fill: #ffbb45;
  }
  50% {
    fill: #ffbb45;
  }
  66% {
    fill: #f85084;
  }
  80% {
    fill: #f85084;
  }
  100% {
    fill: #048c8c;
  }
}

/* Media Queries */

@media screen and (max-width: 600px) {
  header {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  nav,
  ul {
    width: 100%;
  }

  nav ul {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 0;
  }

  nav li {
    margin-left: 0;
  }

  .main__home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main__home img {
    width: 100%;
    margin-right: 0;
  }

  h1 {
    font-size: 42px;
    margin: 8px 0;
  }

  table {
    width: 100%;
  }

  form {
    width: 90%;
  }
}
