/* Styles */

:root {
  --primary-color: #a020f0;
  --secondary-color: #771daf;
  --text-color: #2b2b2b;
  --white-color: #fff;

  --primary-color-1: #471280;
  --primary-color-2: #ffc7d6;
  --primary-color-3: #ade8f0;
  --primary-color-4: #fef0bb;
  --primary-color-5: #c399f1;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
}

header {
  align-items: center;
  padding: 16px 12px;
  margin-bottom: 48px;
  margin-top: 8px;
}

header,
ul,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  margin-left: 32px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}

header a {
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 96%;
  padding: 8px 12px;
  transition: background-size 0.25s ease-in;
}

header a:visited {
  color: var(--text-color);
}

header a:hover,
header a:focus {
  color: var(--text-color);
  background-size: 100% 88%;
}

header a:active {
  color: var(--text-color);
}

.index-index {
  background-image: linear-gradient(
    90deg,
    rgba(255, 199, 214, 1) 0%,
    rgba(255, 199, 214, 1) 35%
  );
}

.index-work,
.work-color-bg {
  background-image: linear-gradient(
    90deg,
    rgba(173, 232, 240, 1) 0%,
    rgba(173, 232, 240, 1) 35%
  );
}

.index-about,
.color-bg {
  background-image: linear-gradient(
    90deg,
    rgba(254, 240, 187, 1) 0%,
    rgba(254, 240, 187, 1) 35%
  );
}

.index-contact,
.contact-color-bg {
  background-image: linear-gradient(
    90deg,
    rgba(195, 153, 241, 1) 0%,
    rgba(195, 153, 241, 1) 35%
  );
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

footer {
  margin-top: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  margin-bottom: 4px;
}

footer img {
  padding: 8px;
}

/**--------------------------------------------------
*** INDEX.HTML
**/

.main__home {
  display: flex;
  flex-direction: row;
  background-color: #ade8f0;
  height: 60vh;
}

.main__home img,
.main__home svg {
  margin-right: 64px;
  height: 400px;
}

.hello-world {
  margin: 8px 0;
  line-height: 120%;
}

.illustration {
  height: 364px;
}

.hero {
  line-height: 110%;
  font-size: 32px;
  margin: 8px 0;
}

code {
  background-color: var(--primary-color-4);
}

.check-code {
  margin-top: 24px;
  display: inline-block;
  color: var(--primary-color-1);
  font-weight: bold;
  background-color: var(--primary-color-5);
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

/**--------------------------------------------------
*** WORK.HTML
**/

.main__work {
  background-color: var(--primary-color-4);
  padding: 32px;
}

.main__work h1 {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  margin-top: 40px;
  width: 100%;
}

.grid > div {
  padding: 20px;
  border: 1px solid black;
}

.grid img {
  border: 1px solid white;
  border-radius: 8px;
}

.grid .tech {
  font-size: 14px;
  font-style: italic;
}

.grid .work-links-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.work-links {
  color: white;
  color: black;
}

/**--------------------------------------------------
*** ABOUT.HTML
**/

.main__about {
  background-color: var(--primary-color-5);
  padding-bottom: 40px;
}

.main__about h1 {
  margin-top: 0;
}

.about-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.about-wrapper-text,
.about-wrapper-skills {
  border: 1px solid black;
  padding: 20px;
  flex-grow: 1;
}

.color-bg,
.work-color-bg,
.contact-color-bg {
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 96%;
  padding: 4px 8px;
}

table {
  width: 400px;
}

table td {
  font-weight: bold;
}

/**--------------------------------------------------
*** CONTACT.HTML
**/

.h1__contact {
  margin-top: 0;
}

.main__contact {
  background-color: var(--primary-color-2);
}

.main__contact a {
  margin-top: 20px;
  margin-bottom: 8px;
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color-1);
  cursor: pointer;
  transition: ease-in-out 0.2s;
  padding: 12px 24px;
}

.main__contact a:hover {
  background: var(--primary-color-4);
}

/* Media Queries */

@media screen and (max-width: 600px) {
  header {
    margin-bottom: 40px;
    flex-direction: column;
    width: 100%;
  }

  nav,
  ul {
    width: 100%;
  }

  nav ul {
    justify-content: space-evenly;
    padding: 0;
  }

  nav li {
    margin-left: 0;
  }

  .main__home {
    flex-direction: column;
  }

  .main__home img {
    width: 100%;
    margin-right: 0;
  }

  h1 {
    font-size: 42px;
    margin: 8px 0;
  }

  table {
    width: 100%;
  }

  form {
    width: 90%;
  }
}
